
<!-- Toolbar -->
<div class="toolbar" role="banner">

  <span class="material-icons" style="padding: 00.25em;"  href="http://localhost:4200">local_hospital </span>

  <a  style="color: white;padding: 0.5em;font-size: large;" href="http://localhost:4200">CitasMedicas </a>

  <div class="spacer"></div>

  <span class="material-icons">description</span>
  
  <a  style="color: white;padding: 1em;font-size: large;" href="https://github.com/alexmotellon-metaenlace">Code </a>

</div>

<div class="content" role="main">


  <router-outlet></router-outlet>

  
</div>


